/*!
Section 2: Content

2.1 Basic Content Styles
2.2 Global Styles ( template parts )
2.3 Home Page Template Styles
2.4 Overview Template Styles
2.5 Audience Template Styles
2.6 Standard Sub Template Styles (default page template)


*/


/*****************************************
2.1 BASIC CONTENT STYLES
*****************************************/
h1, h2, h3, h4, h5 {
	font: {
		family: $header-font-family;
		weight: $font-bold;
	} 
	
	line-height: 110%;
}

h2 {
	font-size: 1.9375rem;
	color: $charcoal;
	
}

h3 {
	font-size: 1.5rem;
	color: $spitzer;
}

h4 {
	font-size: 1.25rem;
	color: $charcoal;
}

p {
	font: {
		size: 1.125rem;
		family: $body-font-family;
	}
}

a:not(.button) {
	&, &:hover {
		color: $spitzer;
	}
}

ul, ol, dl {
	list-style-position: inside !important;
}

@media screen and (max-width: 39.9375em) {
	#content {
		position: relative;
	}
}

.button {
	font: {
		family: $header-font-family;
		size: 1rem;
		weight: $font-bold;
	}	
	
	&:not(.hollow) {
		background-color: $gold;
		transition: background-color 0.25s ease-out, color 0.25s ease-out;
		
		&:hover {
			background-color: shade($gold, 10%);
		}
	}
}

.read-more {
	font-weight: $font-bold;
	color: $medium-blue;
	&:hover {
		text-decoration: underline;
		color: $spitzer;
	}
	
}

hr.shadow-divider {
	border: 0;
	height: 1px;
	position: relative;
	margin: 4rem auto;
	width: 100%;
	max-width: $grid-row-width;
	color: $white;
	background: rgba( $black, .25);
	
}

.reveal-overlay {
	background-color: rgba(0, 0, 0, .85);
}

.reveal {
	background-color: transparent;
	border:none;
	padding-top: 2rem;

	/*	
	max-width: 1300px;
	width: auto;
	*/
}

.image-wrapper {
	position: relative;
	width: auto;
	margin: 0 auto;
}

.close-modal-button {
	
	position: absolute;
	right: -15px;
	top: -15px;
	height: 30px;
	width: 30px;
	
}

.column-block {
	
	@media screen and (min-width: 40em) {
		margin-bottom: 1.875rem;
	}
	
	@media screen and (max-width: 39.9375em) {
		margin-bottom: 1.25rem;
	}
}

.modal-nav {
	
	clear: both;
	
	.next-modal {
		width: 50%;
		float:right;
	}
	
	.previous-modal {
		width: 50%;
		float: left;
	}
	a {
		color: $white;
		padding: {
			left: .5rem;
			right: .5rem;
		}
	}
}

@media screen and (max-width: 39.9375em) {
	aside {
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: 1px solid $medium-gray;
	}
}

main a:not(.button):hover {
	text-decoration: underline;
}

/***********************************************
2.2 GLOBAL PAGE STYLES (for shared template parts)
***********************************************/

#page-banner {
	
	background: {
		size: cover;
		repeat: no-repeat;
		
	}
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	margin-bottom: 4rem;
	
	.banner-inner {
		
		position: relative;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+42,0.62+80,1+100 */
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 42%, rgba(0,0,0,0.62) 80%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.62) 80%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.62) 80%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		
		h1, .fake-h1 {
			color: $white;
			font-weight: $font-medium;
			font-style: italic;
			line-height: 90%;
			margin-bottom: 0;
			//text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
			
			.block-title {
				display: block;
			}

		}
		
		.banner-content-inner {
			
			position: absolute;
			bottom: rem-calc(57);
			
		}


		/* Small only */
		@media screen and (max-width: 39.9375em) {
						
			height: rem-calc(250);

	
			
			h1, .fake-h1 {
				font-size: rem-calc(50);
			}
			
		}

		/* Medium only */
		@media screen and (min-width: 40em) and (max-width: 63.9375em) {

			height: rem-calc(350);

			
			h1, .fake-h1 {
				font-size: rem-calc(80);
			}


		}

		/* Large and up */
		@media screen and (min-width: 64em) {

			height: rem-calc(464.994);

			// display: flex;
			// align-items: flex-end;

			h1, .fake-h1 {
				font-size: 6rem;
			}

		}
		
	}
	
}

/* Flexible Content */

.flexible-content-area > div:not(:last-child) {
	margin-bottom: 2rem;
}

.layout-row {
	
	
	.callout {
		color: $white;
		border: none;
		
		.button.hollow.white {
			border: 1px solid $white;
			color: $white;
		}
		
		h3 {
			color: $white;
			font-size: 2rem;
		}
	}
}

.accordion {
	.accordion-item {
		margin-bottom: .25rem;

		.accordion-title {
			border: none;
			font: {
				family: $header-font-family;
				weight: $font-medium;
				size: 1.5rem;
			}
			background-color: tint($charcoal, 85%);
			color: $charcoal;
			
			&:hover, &:focus, &:active {
				background-color: tint($charcoal, 65%);
				text-decoration: none;
			}
			
			&::before {
				margin-top: -.65rem;
			}
		}
		
		.accordion-content {
			margin-top: .25rem;
			margin-bottom: .25rem;
			
			border: 2px solid tint($charcoal, 65%);
		}
	}
}

.tabs {
	
	border: none;
	
	.tabs-title {
		
		margin-bottom: .25rem;
		a {
			font: {
				family: $header-font-family;
				size: 1.25rem;
				weight: $font-medium;
			}
			
			background: tint($charcoal, 85%);
			color: $charcoal;
			
			&:hover, &:active, &:focus {
				background-color: tint($charcoal, 65%);
				text-decoration: none;
			}
		}
		
		&.is-active {
			a {
				background: tint($charcoal, 65%);
			}
		}
	}
	
	li:not(:last-child) {
		margin-right: .25rem;
	}
	
	
	
}

.tabs-content {
	border: 2px solid tint($charcoal, 65%);
}

/* Standard Intro */

.section-title-row .standard-intro {
	h2.h2-subheading {
		margin: {
			top: 1rem;
			bottom: 2rem;
		}
	}
}

.intro-divider {
	height: 1px;
	background-color: $medium-gray;
	margin: {
		top: 2rem;
		bottom: 2rem;
	}
}


/* Visit Spitzer Section */

#visit-spitzer, #contact {
	
	
	.section-title-row {
		.h2-subheading {
			margin-top: 1rem;
			
		}
	}
	.location-info {
		
		@media screen and (min-width: 40em) {
			padding-right: 4rem;
		}
		
		@media screen and (max-width: 39.9375em) {
			iframe {
				pointer-events: none;
			}
		}
		
		h3 {
			font: {
				size: rem-calc(21);
				weight: $font-bold;
			}
			color: $gold;
		}
		
		.span-block {
			display: block;
		}
		
		.map-container {
			margin-bottom: 1.5rem;
		}
		
	}
	
	.tour-form, .contact-form {
		
		@media screen and (min-width: 40em) {
			border-left: 1px solid rgba( $black, .25);
			padding-left: 4rem;
		}
		
		@media screen and (max-width: 39.9375em) {
			margin-top: 2rem;
		}
		
		h3 {
			font: { 
				size: rem-calc(29);
				style: italic;
				weight: $font-semibold;
			}
			color: $spitzer;

		}
	}
	
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
		font: {
			family: $header-font-family;
			size: 1rem;
			weight: $font-bold;
		}	
	
		&:not(.hollow) {
			background-color: $gold;
			transition: background-color 0.25s ease-out, color 0.25s ease-out;

			&:hover {
				background-color: shade($gold, 10%);
			}
		}

	}
}

#contact {
	h2 {
		font: {
			size: 1.8125rem;
			weight: $font-semibold;
			style: italic;
		}
		color: $spitzer;
	}
}
/******************************
2.3 HOME PAGE STYLES
******************************/
.home-banner-bg {
	position: relative;
	
	.fadeShow-container {
		z-index: 1;
	}
	
	.home-banner-inner {
		z-index: 2;
		position: relative;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+42,0.62+80,1+100 */
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 42%, rgba(0,0,0,0.62) 80%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.62) 80%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.62) 80%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		
		#home-banner-content {
			postion: relative;
			z-index: 3;
			
			.banner-content-inner {
			
				position: absolute;
				bottom: rem-calc(57);
				
				@media screen and (max-width: 39.9375em) {
					bottom: rem-calc(10);
				}

			}

			h1 {
				color: $white;
				font-weight: $font-medium;
				font-style: italic;
				line-height: 90%;
				margin-bottom: 0;

			}
		}
		
		@media screen and (max-width: 39.9375em) {
						
			height: rem-calc(300);

	
			
			h1 {
				font-size: rem-calc(50);
			}
			
		}

		@media screen and (min-width: 40em) and (max-width: 63.9375em) {

			height: rem-calc(400);

			
			h1 {
				font-size: rem-calc(80);
			}


		}


		@media screen and (min-width: 64em) {

			height: rem-calc(567.368);


			h1 {
				font-size: 6rem;
			}

		}
	}
}
#home-banner {
	
	/*
	background: {
		size: cover;
		repeat: no-repeat;
		
	}
	*/
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	margin-bottom: 4rem;
	/*
	.home-banner-inner {
		
		position: relative;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 42%, rgba(0,0,0,0.62) 80%, rgba(0,0,0,1) 100%); 
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.62) 80%,rgba(0,0,0,1) 100%); 
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.62) 80%,rgba(0,0,0,1) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); 
		
		
				
		.banner-content-inner {
			
			position: absolute;
			bottom: rem-calc(57);
			
		}

		h1 {
			color: $white;
			font-weight: $font-medium;
			font-style: italic;
			line-height: 90%;
			margin-bottom: 0;

		}


		@media screen and (max-width: 39.9375em) {
						
			height: rem-calc(300);

	
			
			h1 {
				font-size: rem-calc(50);
			}
			
		}

		@media screen and (min-width: 40em) and (max-width: 63.9375em) {

			height: rem-calc(400);

			
			h1 {
				font-size: rem-calc(80);
			}


		}


		@media screen and (min-width: 64em) {

			height: rem-calc(567.368);


			h1 {
				font-size: rem-calc(123.883);
			}

		}
		
	}

	*/

}


.section-title-row {
	
	&.full-margin {
		margin-bottom: 4rem;
	}
	
	&.quarter-margin {
		margin-bottom: 1rem;
	}
	
	&.half-margin {
		margin-bottom: 2rem;
	}
	
	
	h2 {
		font: {
			size: 3.8125rem;
			weight: $font-regular;
		}
		
		margin-bottom: 1rem;
		color: $charcoal;
		
		&.subheading {
			font: {
				weight: $font-semibold;
				style: italic;
				size: rem-calc(29);
			}
			color: $spitzer;

			@media screen and (max-width: 39.9375em) {
				font-size: 1.25rem;
			}
		}
		
		@media screen and (max-width: 39.9375em) {
			font-size: 2.5rem;
			
			&.h2-subheading {
				font-size: 1.25rem;
			}
		}
	}
	
	p {
		font-size: 1.125rem;
	}
}

// Flip Card Styles
#home-cards {
	
	.column {
		margin-bottom: 1rem;
	}
	
	.card {
		.front {
			background: {
				repeat: no-repeat;
				size: cover;
			}
			
			cursor: pointer;
		}
		
		.back {
			background: $charcoal;
			cursor: pointer;
		}
		
		.card-front-title {
			font: {
				family: $header-font-family;
				weight: $font-bold;
				size: rem-calc(25);
			}
			
			color: $white;
			background: rgba( $charcoal, .85);
			padding: .5rem 0;
		}
		
		h3.card-h3 {
			font: {
				family: $header-font-family;
				weight: $font-medium;
				size: rem-calc(27);
			}
			display: inline-block;
			padding: 0 .5rem .25rem;
			color: $white;
			border-bottom: 2px solid $gold;
		}
		
		.front {
			position: relative;
			
			.front-title {
				position: absolute;
				bottom: 0;
				width: 100%;
			
			}
		}
		
		.back-inner {
			padding: 1.5rem;
			height: 100%;
			/*
			display: flex;
			flex-direction: column;
			justify-content: center;
			*/
			p {
				font-size: rem-calc(18);
				color: $white;
			}
			
			.button {
				display: inline-block;
				border: 1px solid $white;
				color: $charcoal;
				margin: 0 auto;
				box-sizing: border-box;
				padding: .5rem 1.5rem;
				background: $white;
				font: {
					size: 1rem;
					weight: $font-bold;
					family: $header-font-family;
				}
				
				
			}
		}
	}
}

#cool {
	
	position: relative;
	background: {
		repeat: no-repeat;
		size: cover;
		position: center center;
	}
	margin: rem-calc(85) 0;
	.cool-inner {
		width: 100%;
		height: 100%;
		padding: rem-calc(85) 0;
		
		
		background: rgba($white, .55);
	}
	.home-cool-row  {
		@media screen and (min-width: 40em) and (max-width: 63.9375em) {
			.columns:last-child:not(:first-child) {
			
				float: none !important;
			}
		}
		
		@media screen and (max-width: 63.9375em) {
			
			img {
				margin-bottom: 1rem;
			}
		}
		
		h3 {
			font: {
				weight: $font-semibold;
				size: rem-calc(29);
				style: italic;
			}
			
			@media screen and (max-width: 39.9375em) {
				font-size: 1.25rem;
			}
			
			color: $spitzer;
		}
		
		
	}
	
	.featured-items-row {
		
		img {
			display: block;
			margin: 0 auto;
		}
		
		h3 {
			display: inline-block;
			border-bottom: 2px solid $teal;
			
			font: {
				weight: $font-medium;
				size: 1.8125rem;
			}
			
			padding: {
				left: .5rem;
				right: .5rem;
			}
			margin: 1.5rem 0;
			color: $dark-blue;
		}
		
		p {
			font-size: 1.125rem;
		}
		
		a {
			font: {
				size: 1rem;
				weight: $font-bold;
			}
			color: $medium-blue;
			&:hover {
				text-decoration: underline;
			}
			
		}
		
		
	}
	
}

#community {
	.community-column {
		h3 {
			font: {
				weight: $font-medium;
				size: rem-calc(24);
			}
			
			//display: inline-block;
			padding: 0 .5rem .25rem;
			border-bottom: 2px solid $gold;
			color: $charcoal;
			margin-bottom: 1.25rem;
		}
		
		.column-inner {
			padding: 0 .25rem;
		}
		
		.read-more {
			
		}
		
		
		@media screen and (min-width: 40em) and (max-width: 63.9375em) {
			
				padding: {
					top: 1.5rem;
					bottom: 1.5rem;
				}
			
		}

		
		@media screen and (max-width: 39.9375em) {
			
				padding-bottom: 2.5rem;
				
				&:not(:first-child) {
					padding-top: 2.5rem;
				}
				
				&:not(:last-child) {
					border-bottom: 1px solid $medium-gray;

				}
			
		}
	}
}

#connect-with-us {
	margin-bottom: 2rem;
}

/* Events section */

.single-event-inner {
	h3 {
		font-size: 1.25rem;
		text-transform: uppercase;
		color: $dark-blue;
	}
	
	.event-title-underline {
		height: 2px;
		width: 100%;
		background-color: $teal;
		margin-bottom: .75rem;
	}
	
	.event-description > .info-value > p {
		font: {
			family: $header-font-family;
			size: 1rem;
		}
		display: inline;
	}
}

@media screen and (min-width: 64em) {
	.event-info-column {
		padding-left: 0;
	}
		
	.calendar-icon {
		margin-left: .5rem;
	}
}

@media screen and (max-width: 39.9375em) {
	.single-event:not(:last-child) {
		border-bottom: 1px solid $medium-gray;
		margin-bottom: 1.5rem;
	}
}

.calendar-icon {
	height: 60px;
	width: 60px;
	background: {
		image: url(../images/icons/calendaricon_blue.svg);
		repeat: no-repeat;
		size: contain;
		position: center center;
	}
	position: relative;
	
	@media screen and (min-width: 40em) and (max-width: 63.9375em) {
		margin: 0 auto 1.5rem;
	}
	
	.calendar-month {
		font: {
			family: $header-font-family;
			weight: $font-bold;
			size: .875rem;
		}
		
		color: $dark-blue;
		position: absolute;
		top: 18px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		line-height: 90%;
		text-transform: uppercase;
	}
	
	.calendar-day {
		font: {
			family: $body-font-family;
			size: 1.59rem;
			weight: $font-semibold;
		}
		
		color: $dark-blue;
		position: absolute;
		bottom: 7px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		line-height: 90%;
	}
}

.menu.home-sm-links-list {
	display: inline-block;
	
	li {
		a {
			font: {
				size: 1rem;
				family: $header-font-family;
				weight: $font-bold;
			}
			
			color: $black;
		}
	}
}

.home-featured-post {
	
	.wp-post-image {
		
		margin-bottom: 1rem;
	}
	
	h3 {
		font-size: 1.8125rem;
		color: $medium-blue;
	}
	
	@media screen and (max-width: 39.9375em) {
		border-bottom: 1px solid $medium-gray;
		padding-bottom: 1.5rem;
	}
	
	@media screen and (min-width: 40em) and (max-width: 63.9375em) {
		margin-bottom: 2rem;
	}
	
}

.home-recent-posts {
	.home-recent-posts-row {
		h3 {
			font-size: 1.3125rem;
			color: $teal;
			margin-bottom: .3rem;
		}
		
		p {
			margin-bottom: .3rem;
		}
		
		&:not(:last-child) {
			
			padding-bottom: 1.5rem;
		}
		
		&:not(:first-child) {
			padding-top: 1.5rem;
			
		}
		
		@media screen and (max-width: 39.9375em) { 
			&:first-child {
				padding-top: 1.5rem;
			}
			
			.wp-post-image {
		
				margin-bottom: 1rem;
			}
		}
	}
	
	.news-divider {
		height: 1px;
		width: 100%;
		background: $medium-gray;
	}
	
	div > .button {
		margin-top: 2rem;
	}
	
	.home-news-view-all {
		padding-top: 1rem;
	}
}

/****************************************
2.4 OVERVIEW TEMPLATE STYLES
****************************************/

.overveiw-top-content {
	margin-top: 3rem;
	
	@media screen and (max-width: 39.9375em) { 
		
		margin-top: 1rem;
	}
}

.overview-features {
	h3 {
		font: {
				weight: $font-semibold;
				size: rem-calc(29);
				style: italic;
			}
			
		color: $spitzer;
	}
	
	h4 {
		font-size: 1.25rem;
		color: $gold;
	}
	
	p {
		margin-bottom: 0;
	}
	
	.feature {
		padding: {
			top: 1rem;
			bottom: 1rem;
		}
		
		border-bottom: 1px solid $medium-gray;
	}
	
	@media screen and (max-width: 39.9375em) {
		margin-top: 2rem;
		
		.feature:last-child {
			border: none;
		}
	}
}

#carousel-section {
	background: {
		size: cover;
		repeat: no-repeat;
	}
	
	margin: 3rem 0;
	
	.carousel-section-inner {
		width: 100%;
		height: 100%;
		padding: rem-calc(85) 0;
		
		
		background: rgba($white, .55);
	}
	
	.orbit {
		margin-bottom: rem-calc(85);
	}
	
	h2 {
		font: {
			size: 3.8125rem;
			weight: $font-regular;
		}
		
		margin-bottom: 1rem;
		color: $charcoal;
		
		@media screen and (max-width: 39.9375em) {
			font-size: 2.5rem;
			
		}
	}
	
}

/******************************************
2.5 AUDIENCE TEMPLATE STYLES
******************************************/

.spitzer-h3 {
	font: {
		weight: $font-bold;
		size: 1.5625rem;
	}
	text-transform: none;		
	color: $gold;
	margin-top: 1.25rem;
	margin-bottom: 0;
}

.read-more {
	font: {
		size: 1rem;
		weight: $font-bold;
	}
	color: $spitzer;
	&:hover {
		text-decoration: underline;	
	}
	
}

@media screen and (max-width: 39.9375em) {
	
	.spotlight-row > div {
		 
		padding-bottom: 2.5rem;
		padding-top: 3rem;
		
		&:not(:last-child) {
			border-bottom: 1px solid $light-gray;
		}
		&:last-child {
			padding-bottom: 0;
		}
		&:first-child {
			padding-top: 0;
		}
		
	}
}

#audience-programs {
	
	.h2-subheading {
		margin-top: 1rem;
	}
	
}

.alternating-row-wrapper > div {
	padding: {
		top: 1.5rem;
		bottom: 1.5rem;
	}
		
	&:last-child {
		padding-bottom: 0;
	}
	
	&:first-child {
		padding-top: 0;
	}
	
	.section-divider {
		height: 1px;
		background: $medium-gray;
	}
}

.alternating-row {
	
	h3 {
		font-size: 1.3125rem;
		font-weight: $font-bold;
		color: $gold;
		margin-bottom: .3rem;
	}
	
	box-sizing: border-box;
	
	@media screen and (max-width: 39.9375em) {
		img {
			margin-bottom: 1rem;
		}
	}
}

/***************************************************************
2.6 STANDARD SUB PAGE TEMPLATE STYLES (default page tempalte )
***************************************************************/

.page-two-columns {
	.ss-content {
		@media screen and (min-width: 64em) {
			padding-left: 3rem;
		}
	}
	
	.ss-sidebar {
		@media screen and (min-width: 64em) {
			border-right: 1px solid $medium-gray;
			padding-right: 3rem;
		}
		
		@media screen and (max-width: 39.9375em) {
			margin-top: 2rem;
		}
	}
}

.sidebar-widget {
	
	&:not(:first-child) {
		margin-top: 2rem;
	}
	
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}
/*
.quick-links-menu {
	li {
		a {
			padding: .5rem 0;
			
			font: {
				family: $header-font-family;
				size: 1rem;
				weight: $font-semibold;
			}
			text: {
				//transform: uppercase;
				decoration: underline;
			}
			color: $teal;
		}
	}
}
*/
.sidebar-widget {
	ul {
		margin: 0;
		list-style-type: none;
		li {
			
			
			
			a {
				font: {
					family: $header-font-family;
					size: 1rem;
					weight: $font-semibold;
				}
				text: {
					//transform: uppercase;
					decoration: underline;
				}
				color: $spitzer;
				padding: .25rem 0;
				display: block;
			}
		}
	}
}

.sidebar-cta {
	&, p {
		font-size: 1rem;
	}
}


/***********************************
2.7 BLOG STYLES
***********************************/

.blog-archive-inner, .blog-single-inner {
	main {
		@media screen and (min-width: 64em) {
			padding-right: 3rem;
		}
		@media screen and (max-width: 39.9375em) {
			article:last-child {
				padding-bottom: 1.5rem;
			}
		}
	}
	
	aside {
		@media screen and (min-width: 64em) {
			border-left: 1px solid $medium-gray;
			padding-left: 3rem;
		}
	}
}

.blog-archive-item, .events-archive-item {
	h2 {
		font-size: 1.8125rem;
		font-weight: $font-medium;
		margin-bottom: 0;
		
		a, a:hover { 
			color: $charcoal;
			
		}
	}
	
	&:not(:last-child) {
		padding-bottom: 1.5rem;
		border-bottom: 1px solid $medium-gray;
	}
	
	&:not(:first-child) {
		padding-top: 1.5rem;
	}
}

.post-taxonomies, .event-taxonomy-links {
	a {
		font-weight: $font-semibold;
		color: $gold;
		&:hover {
			text-decoration: underline;
			color: $gold;
		}
		
	}
	
	margin-bottom: .5rem;
}

.blog-single-inner {
	padding-top: 2rem;
	box-sizing: border-box;
	
	h1 {
		color: $charcoal;
		font-weight: $font-medium;
		line-height: 100%;
		}
		
	.wp-post-image {
		margin: 2rem 0;
	}
	
	@media screen and (max-width: 39.9375em) {
		padding-top: 0;
		
	}
}

@media screen and (max-width: 39.9375em) {
	#blog-sidebar {
		padding-top: 1.5rem;
		border-top: 1px solid $medium-gray;
	}
		
}

aside, .ss-sidebar {
	h2 {
		font-weight: $font-medium !important;
	}
}

.comments-title {
	font-weight: $font-medium;
}


/*******************************************
2.8 SEARCH RESULTS PAGE STYLES
*******************************************/

.cse .gsc-control-cse, .gsc-control-cse {
	padding: 0 !important;
}

.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b, .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
	font: {
		family: $header-font-family !important;
		size: 1.3125rem !important;
		weight: $font-bold !important;
	}
	
	color: $spitzer !important;
}

.gsc-result .gs-title {
	height: 2.25rem !important;
}

.gs-result .gs-snippet {
	font: {
		family: $body-font-family !important; 
		size: 1.125rem !important;
	}
}

#search-content input.gsc-search-button {
	
	border: 1px solid $dark-blue !important;
	color: $dark-blue !important;
	font: {
		family: $header-font-family !important;
		size: 1rem !important;
		weight: $font-bold !important;
	}
	padding: .25rem 1em !important;
	background-color: transparent !important;
	transition: background-color 0.25s ease-out, color .25s ease-out;
	
	&:hover, &:focus {
		background-color: $dark-blue !important;
		color: $white !important;
	}
	
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
	background-color: $dark-blue !important;
	border: none !important;
	color: $white !important;
}

/************************************************
2.9 EVENTS STYLES
************************************************/

#event-content {
	h1 {
		font-weight: $font-regular;
		color: $charcoal;
		padding-right: 1.5rem;
		margin-bottom: 1rem;
		display: inline-block;
	}
	
	h2.subheading {
		font-size: 1.25rem;
		color: $spitzer;
		font-weight: $font-semibold;
		font-style: italic;
	}
	
}

.event-info {
	font-family: $header-font-family;
	margin-bottom: 1.5rem;
	
	.info-label {
		font-weight: $font-bold;
	}
	
	a {
		span {
			color: $spitzer;
			&:hover {
				text-decoration: underline;
			}
			
			font-weight: $font-semibold;
		}
	}
	
	div:not(:last-child) {
		margin-bottom: .5rem;
	}
}

.event-social-sharing {
	
	.share-label {
		margin-bottom: .5rem;
		font: {
			family: $header-font-family;
			weight: $font-bold;
		}
		
		color: $gold;
	}
	
	.menu > li > a {
		padding: 0;
		margin-right: .5rem;
	}
	
	@media screen and (max-width: 39.9375em) {
		.menu {
			display: flex;
			flex-wrap: wrap;
			-webkit-box-pack: center;
			justify-content: center;
			flex-direction: row;
		}
	}
	
}

.single-event-inner, .events-archive-inner {
	main {
		
		@media screen and (min-width: 64em) {
			padding-right: 3rem;
		}
		
	}
	
	aside {
		@media screen and (min-width: 64em) {
			border-left: 1px solid $medium-gray;
			padding-left: 3rem;
		}
	}
}
.events-archive-item {
	.event-info {
		margin-top: 1.5rem;
	}
}

.pagination-wrapper {
	margin-top: 2rem;
	
	.pagination {
		
		.nav-links {
			
			font-family: $header-font-family;
			font-weight: $font-bold;
			
			span.current, a {
				display: inline-block;
			}
			
			span.current {
				background: $dark-blue;
			}
			
			a.next, a.prev {
				color: $medium-blue;
		
				
				&:hover {
					background: none;
				}
			}
			
			a:not(.next):not(.prev){
				color: $charcoal;
			}
		}
		
	}
}


// FOUNDATION PLUGIN STYLES

.orbit {
	.orbit-bullets {
		button {
			background-color: tint($gold, 70%);
			
			&.is-active {
				background-color: $gold;
			}
		}
	}
}
